@use "sass:color";
@use "../abstracts/variables" as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $font-size-base;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: $font-family-base;
    font-size: 1rem;
    line-height: 1.5;
    color: $dark-color;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        color: color.scale($primary-color, $lightness: -15%);
    }
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
